@import "tailwindcss" source("../../../../");
@import "@nuxt/ui-pro";

@source "../../../../src/runtime/components";


@theme static {

    /* Primary */
     --color-primary-50: #EFFDF5;
    --color-primary-100: #D9FBE8;
    --color-primary-200: #B3F5D1;
    --color-primary-300: #75EDAE;
    --color-primary-400: #00DC82;
    --color-primary-500: #00C16A;
    --color-primary-600: #00A155;
    --color-primary-700: #007F45;
    --color-primary-800: #016538;
    --color-primary-900: #0A5331;
    --color-primary-950: #052e16;

    /* Secondary */
    --color-secondary-50: #eff6ff;
    --color-secondary-100: #dbeafe;
    --color-secondary-200: #bfdbfe;
    --color-secondary-300: #93c5fd;
    --color-secondary-400: #60a5fa;
    --color-secondary-500: #3b82f6;
    --color-secondary-600: #2563eb;
    --color-secondary-700: #1d4ed8;
    --color-secondary-800: #1e40af;
    --color-secondary-900: #1e3a8a;
  }



@source "../../../content/**/*";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;
}


/* Keyframes for the first indeterminate animation - Autogenerated by NuxtWind Module */
@keyframes indeterminate-first {
  0% {
    left: -100%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

/* Keyframes for the second indeterminate animation - Autogenerated by NuxtWind Module */
@keyframes indeterminate-second {
  0% {
    left: -150%;
    width: 100%;
  }
  100% {
    left: 100%;
    width: 10%;
  }
}

/* Utility class for the first indeterminate animation used by Progress Component - Autogenerated by NuxtWind Module */
@theme {
  --animate-indeterminatebefore: indeterminate-first 1.5s ease-out infinite;
}

/* Utility class for the second indeterminate animation used by Progress Component - Autogenerated by NuxtWind Module */
@theme {
  --animate-indeterminateafter: indeterminate-second 1.5s ease-in infinite;
}